body {
    background: black;
}

h1 {
	color: white;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 40pt;
	margin-top: 100px;
	clear: right;
}

input {
	margin: 50px 0;
	background: none;
	border-bottom: 1px solid white;
	border-top: none;
	border-left: none;
	border-right: none;
	width: 400px;
	height: 40px;
	letter-spacing: 3px;
	opacity:.7;
	color: yellow;
}

input:focus {
	outline: none;
	border-bottom: 3px solid white;
	color: white;
	letter-spacing: 3px;
	opacity:1;
}

::-webkit-input-placeholder {
	color: white;
	font-weight: bold;
}

:-moz-placeholder {
	/* Firefox 18- */
	color: white;
	font-weight: bold;
}

::-moz-placeholder {
	/* Firefox 19+ */
	color: white;
	font-weight: bold;
}

:-ms-input-placeholder {
	color: white;
	font-weight: bold;
}

button {
	width: 50px;
	height: 50px;
	background: none;
	border: none;
	position: absolute;
	top: 200px;
	left: 275px;
}

button:focus {
	outline: none;
}

.fa {
	color: white;
	font-size: 2.5em;
	cursor:pointer;
}
.fa:hover{
    border-radius:22%;
    background-color:white;
}

.img-res{
    height:25em;
    margin-left: 5em;
    margin-top: -1em;
    margin-bottom: 1em;
}

.text-over {
  position: absolute;
  top: 83%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.text-over input{
    width:150px;
    border:1px solid;
    background-color:white;
    color:black;
    padding-left:6px;

}

.text-over a{
    margin-left:10px;
    font-size:20px;
    color:white;
    cursor:pointer;
    background-color:black;
    height:100%;
    text-align:center;
    width:4em;
    display: inline-block;
    border:1px solid yellow;
}
.text-over a:hover{
    background-color:yellow;
    color:black;
}

.text-over ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: grey;
  opacity: 1;
  font-size:14px;/* Firefox */
}